@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .print-button {
    display: none;
  }
  
  .print-page {
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
  }
  
  @page {
    margin: 0;
    size: auto;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
}

.invoice-container {
  padding: 1rem;
}

/* Add specific styles for table borders */
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
}